username=<USERNAME>
password=<PASSWORD>
# example of a full artifact url:
#   https://projectx.jfrog.io/projectx/hosted/com/jooones/projectx-backend/0.1.0/
# which would result in the following properties
#   BASE_URL:           https://projectx.jfrog.io/projectx/
#   REPOSITORY_PATH:    hosted/com/jooones/
# the rest of the url needs to be configured in ArtifactConfig.java
base_url=<BASE_URL>
repository_path=<REPOSITORY_PATH>
